.project {
	max-width: 370px;
	background-color: var(--project-card-bg);
	box-shadow: var(--box-shadow);
	border-radius: 10px;
}

.project__img {
	border-radius: 10px;
}

.project__title {
	padding: 15px 40px 25px;
	font-weight: 500;
	font-size: 22px; /* ? */
	color: var(--project-card-text);
}