
body {
    font-family: "Unbounded", sans-serif;
}
.section {
    padding: 20px 0;
    margin-top: 80px; /* Отступ сверху для обычного экрана */
}
.divider {
    border: none;
    border-top: 1px solid var(--title-1); /* Цвет и стиль линии */
    margin-top:65px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.project-description {
    font-size: 20px;
    line-height: 1.6;
    color: var(--text-color);
    text-align: center; /* Выравнивание по центру, если это необходимо */
    margin-bottom: 80px; /* Отступ снизу для разделения с другими элементами */
    margin-top: -70px;
}
.title-projects {
    margin-top:7px;
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 700;
    color: var(--title-1);
    text-align: center;
}
.title-1{
    margin-top:22px;
    font-family:"Unbounded", sans-serif;
    font-weight:500;
}
.project-description{
    font-weight: 500;
}
.project-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    flex-direction: row; /* Сохраняем горизонтальное направление */
}

.project-details__cover {
    max-width: 40%;
    border-radius: 20px;
}

.project-details__desc {
    max-width: 50%;
    font-size: 20px;
    line-height: 1.6;
    color: var(--text-color);
    text-align: left;
    
    
}

.project-features {
    list-style-type: disc;
    margin: 0px 0;
    padding-left: 20px;
    font-size: 21px;    
    font-weight: 400;
    text-align: left; /* Выравниваем текст по левому краю */
}

.project-features li {
    margin-bottom: 15px;
}

.assortment-title {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
    color: var(--title-1);
    text-align: center;
}

/* Оформление списка ассортимента */
.project-assortment {
    list-style: none; /* Убираем стандартные маркеры */
    padding: 0;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 15px;
   
    
}

.project-assortment li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px ;
    background-color: var(--background-color); /* Цвет фона для каждого элемента */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для глубины */
    color: var(--text-color);
    font-size: 20px; /* Увеличиваем размер шрифта */
    line-height: 1.4;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center; /* Выравнивание текста по центру */
    border: 0.5px solid white; /* Задайте нужный цвет для бордера */
    
}

.project-assortment li::before {
    content: ""; /* Используем символ в качестве маркера */
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: var(--title-1); /* Цвет маркера */
}

.project-assortment li:hover {
    transform: translateY(-5px); /* Поднимаем элемент при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Усиливаем тень при наведении */
}


.project-specs {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    overflow-x: auto; /* Позволяем таблице прокручиваться по горизонтали */
    display: block; /* Превращаем таблицу в блок для адаптации к экрану */
    white-space: nowrap; /* Запрещаем перенос текста внутри ячеек */
}

/* Ячейки должны автоматически сжиматься */
.project-specs td {
    padding: 10px;
    border: 1px solid var(--title-1);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    white-space: normal; /* Разрешаем перенос текста внутри ячеек */
    word-wrap: break-word; /* Переносим длинные слова */
}
.specs-name{
    font-weight: 600;
}
/* Заголовок таблицы характеристик */
.specs-title {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
    color: var(--title-1);
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.btn-outline-3 {
    padding: 12px 24px;
	font-size: 20px;
    font-weight: 600;
	color: #000;
	background-color: var(--page-bg);
	border: 1px solid var(--title-1);
	border-radius: 8px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: color 0.5s ease;
	font-family: "Unbounded", sans-serif;
	color:var(--title-1);
}

.btn-outline-3::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	background-color: var(--title-1);
	
	z-index: -1;
	transition: transform 0.5s ease;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
}

.btn-outline-3:hover::before {
	transform: translate(-50%, -50%) scale(100);
}

.btn-outline-3:hover {
	color:var(--page-bg);
}
@media (max-width:1100px) {
    .project-features{
        font-size: 19px;
    }
    .assortment-title{
        font-size:26px;
    }
    .project-assortment li{
        font-size:18px;
    }
    .specs-title{
        font-size:26px;
    }
    .project-specs td{
        font-size:18px;
    }
    .btn-outline-3{
        font-size:20px;
    }
    
}

@media (max-width: 768px) {
    .section {
        margin-top: 100px; /* Увеличенный отступ сверху для экранов меньше 768px */
    }
    .project-details {
        flex-direction: column;
        align-items: center;
    }

    .project-details__cover {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .project-details__desc {
        max-width: 90%;
        text-align: center;
    }

    .title-projects {
        margin-top: 20px;
        margin-bottom:40px;
        font-size: 40px;
    }
    .title-1{
        font-size:60px;
    }
    
    .project-assortment,
    .project-specs {
        text-align: center;
    }

    .project-assortment {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .project-specs td {
        font-size: 16px; /* Уменьшаем размер шрифта для мобильных устройств */
    }
}
@media (max-width:620px){
    .section{
        margin-top:60px;
    }
    .title-1{
        margin-bottom: 0px;
        font-size: 50px;
    }
    .project-description{
        margin-top:-2%;
        font-size:16px;
        margin-bottom:40px;
    }
}
@media (max-width:420px){
    .section{
        margin-top:130px;
    }
    .title-1{
        margin-bottom: 0px;
        font-size: 40px;
    }
    .project-description{
        font-size:15px;
        margin-bottom:40px;
    }
    .project-features{
        font-size: 16px;
    }
    .assortment-title{
        font-size:23px;
    }
    .project-assortment li{
        font-size:15px;
    }
    .specs-title{
        font-size:23px;
    }
    .project-specs td{
        font-size:15px;
    }
    .btn-outline-3{
        font-size:17px;
    }
}
