/* Footer */

.footer {
    margin-top: auto;
    padding: 15px 0;
    background-color: black;
    color: var(--footer-text);
}

.footer__container {
    max-width: 100%;
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__social {
    text-align: center;
    margin-bottom:0px;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.social__link {
    display: inline-block;
}

.social__icon {
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease, filter 0.3s ease;
    filter: invert(1); 
}

.social__link:hover .social__icon {
    filter: invert(0.6); 
}
/* VK*/
.social__icon_vk {
    width: 20px;
    height: 20px;
    transition: transform 0.5s ease, filter 0.3s ease;
    filter: invert(1); 
}

.social__link:hover .social__icon_vk {
    transform: translateX(0px) rotate(360deg);
    filter: invert(0.4); 
}

.footer__phone {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
.footer__phone a {
    color: var(--footer-text);
    text-decoration: none;
    transition: transform 0.5s ease, filter 0.3s ease;
}
.footer__phone a:hover {
    filter: invert(0.4); 
}

.footer__bottom {
    display: flex;
    position: relative;
    text-align: end;
    justify-content: end;
    width: auto;
}

.footer__left {
    display: flex;
    font-size: 14px;
    color: var(--footer-text);
}

.footer__right {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer__text {
    font-size: 14px;
    font-weight: 400;
    color: var(--footer-text);
}

@media (max-width:768px){
    .footer__container {       
        margin: 0 20px;        
    }
}
@media (max-width: 420px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000; /* Оставляем черный фон для футера */
    }
    .footer__social {
        order: 1 !important;  
        margin-bottom: 16px;      
    }
    .footer__right {
        display: none;
    }
    .footer__text{
        font-size: 12px;
        font-weight: 300;
    }
    .social__icon_vk{
        width: 16px;
        height:16px;
    }
    .footer__bottom{
        order: 3 !important;
    }
    .footer__left{
        font-size: 10px;
        font-weight: 300;
    }

}

